// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1976d2;
$action-btn: #1976d1;
$secondary: #3b49e7;
$accent: #ffe6fc;


$dark: #000;
$dark-page: #121212;

$positive: rgb(23, 23, 23);
$negative: #e62e2e;
$info: #31ccec;
$warning: #f2c037;

