<!DOCTYPE html>
<html>

<head>
  <script src="https://kit.fontawesome.com/30015328b3.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <title>
    <%= productName %>
  </title>

  <meta charset="utf-8" />
  <meta name="description" content="<%= productDescription %>" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>" />

  <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png" />
  <link rel="icon" type="image/ico" href="favicon.ico" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    
    
</head>
<script src="https://kit.fontawesome.com/a6d282ed1f.js" crossorigin="anonymous"></script>

<!-- <script src="../node_modules/ckeditor4/ckeditor.js"></script> -->

<body>
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
  <script></script>
</body>

</html>